@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* hide scrollbar for all browsers */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

body {
  cursor: none;
}

@media (any-pointer: coarse) {
  body {
    cursor: default;
}
}